/* -- COLORS ----------------------------------------
#0750ed - Blue/Accent colour
#F5F5F5 - White
#19191C - Black
#bababa - Grey */

* {
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body {
	background: #F5F5F5;
	font-family: 'Space Mono', monospace;
	color: #19191C;
	font-size:16px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
h1 {
	font-size: 80px;
	font-family: sans-serif;
	text-align: center;
}
ul{
	list-style: none;
}
ol{
	list-style: none;
}
ul li{
	display: inline;
}
li a{
	text-decoration: none;
}

/* -- NAVIGATION ----------------------------------------*/
nav {
	width: 100%;
	padding: 30px 0 30px 0;
	font-size: 10px;
	top: 0;
	background-color: #F5F5F5;
	opacity: 95%;
	z-index: 1;
}
nav ul{
	text-align: center;
}
nav ul li{
	margin: 0px 20px 0px 20px;
}
nav ul li a{
	color: #bababa;
	letter-spacing: 1em;
	line-height: 30px;
}
nav ul li a:hover {
	transition: 0.15s ease;
	font-size: 17px;
	line-height: 30px;
}
nav ul li a i{
	line-height: 30px;
}
nav ul li a i:hover {
	transition: 0.15s ease;
	transform: scale(1.6);
}
nav .active{
	color: #19191C;
}

/* -- FOOTER ----------------------------------------*/
footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
	background: #19191C;
	text-align: center;
}
footer p{
	font-size: 11px;
	color: white;
	padding-top: 10px;
} 
footer p a{
	text-decoration: none;
	color: white;
}

/* -- INDEX ----------------------------------------*/
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text p {
	margin-top: 40px;
}
strong {
	color: #0750ed;
}
.hero-text p{
	font-size: 30px;
	text-align: center;
}
.img-me{
	background-color: rgba(7, 80, 237, 0.08) ;
	overflow: scroll;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
  align-items: center;
	object-fit: scale-down;
	overflow: hidden;
	height: 200px;
	width: 200px;
	margin: 10px;
}

/* -- PROJECTS ----------------------------------------*/
.grid{
	margin-top: 50px;
	margin-bottom:100px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-flow: row dense;
}
.grid-element{
	display: flex;
	justify-content: center;
  align-items: center;
	object-fit: cover;
	overflow: hidden;
	position: relative;
	border: 5px solid #F5F5F5;
	height: 450px;
}
.grid-element img{
	flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
	width: 100%;
	opacity: 1;
	object-fit: cover;
}
.grid-hover:hover img{
	opacity: 0.5;
	transition: 0.2s ease;
	transform: scale(1.2);
}
.grid-hover .center-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	transition: 0.2s ease;
	background-color: #0750ed;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
	text-align: center;
}
.grid-hover:hover .center-text {
  opacity: 1;
}


/* -- PROJECT DETAILS ----------------------------------------*/
.grid-element p{
	text-align: left;
}


/* -- ABOUT ME ----------------------------------------*/
section{
	padding-top:80px;
}
#contact{
	margin-bottom:100px;
}
.mini-nav {
	position:sticky;
	width: 100%;
	font-size: 12px;
	top: 0;
	background-color: #F5F5F5;
	opacity: 95%;
	z-index: 1;
	
	position: sticky;
	text-align: center;
	padding: 30px 0 30px 0;
}
.mini-nav li{
	padding: 0px 20px 0px 20px;
	display: inline-block;
}
.mini-nav li:hover{
	background: #0750ed;
	transition: 0.2s ease;
}
.mini-nav li a{
	color: #19191C;
	line-height: 30px;
}
.mini-nav li:hover a{
	color: white;
	transition: 0.2s ease;
}
.img-like{
	overflow: hidden;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
  align-items: center;
	object-fit: cover;
	overflow: hidden;
	height: 200px;
	width: 200px;
	margin: 10px;
}
dd{
	position:relative;
	left:110px;
	top:-22px;
}
#contact li{
	display:inline-block;
	padding-right: 20px;
}
#contact li a{
	text-decoration: none;
	color:#19191C;
}









